.vs
/.vs
./.vs

./packages
./packages/*
./FlashCards/bin
./FlashCards/obj
./FlashCards/FlashCards/bin
./FlashCards/FlashCards/obj

./bin
./obj

/packages
/packages/*
/FlashCards/bin
/FlashCards/obj
/FlashCards/FlashCards/bin
/FlashCards/FlashCards/obj

/bin
/obj
